PORT=5000
MONGODB_URI=mongodb+srv://aravindpradeep0802:nULiIN2316Ygmo46@cluster0.f42nroi.mongodb.net/private-chat?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=Aravind_ChatApp_2026_SuperSecret_8472
FRONTEND_URL=http://localhost:5173

# Two fixed users config
USER1_USERNAME=arya
USER1_PASSWORD=aravind
USER2_USERNAME=aravind
USER2_PASSWORD=arya

# Cloudinary credentials for image sharing
CLOUDINARY_CLOUD_NAME=dszpjmsyl
CLOUDINARY_API_KEY=653742128638534
CLOUDINARY_API_SECRET=7Bt_elkGcMc5uczE31l5KRNxzag
